<!DOCTYPE html>
<html lang="en" ng-app="profileManager">

<head>
    <meta charset="UTF-8">
    <!-- To avoid quirks mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Maintain consistency across devices and manage zoom in future -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage your Profile</title>
    <!-- Normalizes Default Browser Styles across all browsers -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" type="text/css" href="styles/mainStyles.css">
    <!-- Loading Similar Fonts as Fonts not Specified -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <!-- To support html5 tags across old browsers -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body>
    <header>
        <h2 class="customHeading-2">
			My Contacts
		</h2>
    </header>
    <div class="mainContainer" ng-controller="MainCtrl as mctrl">
    <!-- Start of Person Manager Add, Edit, Delete -->
        <section id="manager">
            <button id="addPerson" ng-click="mctrl.resetForm()" class=" formOptionButton blue">+New</button>
            <div style="clear:both"></div>
            <div class="records clearfix" ng-repeat="p in mctrl.people">
                <div class="recordWrapper">
                    <p>{{p.firstName}} {{p.lastName}}</p>
                    <div class="recordButtonGroup clearfix">
                        <span><button id="deletePerson" ng-click="mctrl.deletePerson($index)" class=" recordButton white">Delete</button></span>
                        <span><button id="editPerson" ng-click="mctrl.editPerson($index)" class=" recordButton white">Edit</button></span>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </section>
        <!-- End of Person Manger Add, Edit, Delete -->

        <!-- Start of Form Inputs and Options -->
        <section id="formInput">
            <p class="heading">ADD OR EDIT CONTACT (FULL NAME)</p>
            <form id="profileInput" role="form">
                <div class="inputContainer">
                <div class="inputFields">
                	<div class="form-group">
                        <label for="firstName" class="">First Name</label>
                        <div class="input">
                            <input type="text" class="" id="firstName" placeholder="Enter First Name" ng-model="mctrl.newPerson.firstName">
                        </div>
                    </div>
                    <div class=" form-group ">
                        <label for="lastName " class=" ">Last Name</label>
                        <div class="input">
                            <input type="text " class=" " id="lastName" placeholder="Enter Last Name" ng-model="mctrl.newPerson.lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dateOfBirth" class="">Birthday</label>
                        <div class="input">
                            <input type="date" id="dateOfBirth" placeholder="DD/MM/YYYY" ng-model="mctrl.newPerson.dateOfBirth">
                        </div>
                    </div>
                    <div class=" form-group ">
                        <label for="company " class=" ">Company</label>
                        <div class="input">
                            <input type="text " id="company " placeholder="Enter Company " ng-model="mctrl.newPerson.company">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="">Email</label>
                        <div class="input">
                            <input type="email" id="email" placeholder="example@domain.com" ng-model="mctrl.newPerson.email">
                        </div>
                    </div>
                    <div class=" form-group ">
                        <label for="phone " class=" ">Phone</label>
                        <div class="input">
                            <input type="tel " id="phone " placeholder="000-000-0000 " ng-model="mctrl.newPerson.phone">
                        </div>
                    </div>
                </div>
                    <!-- Placeholder Image is to be replaced by Image Uploaded using Script -->
                    <div class="personImage">
                        <div class="imagePlaceHolder">
                            <p>No Preview</p>
                        </div>
                        <!-- Can use input type=file for Image upload -->
                        <button ng-click=" mctrl.uploadImage()" class="formOptionButton blue">Upload Image</button>
                    </div>
                </div>
                <div style="clear:both"></div>
                <!-- Save and Cancel-Reset -->
                <div class="formOptions">
                    <button id="savePerson" ng-click=" mctrl.addPerson() " class="formOptionButton blue">Save</button>
                    <button id="resetForm" ng-click="mctrl.resetForm() " class="formOptionButton blue">Cancel</button>
                </div>
            </form>
        </section>
        <!-- End of Form Inputs and Options -->
    </div>
    <div style="clear:both "></div>
    <footer>
        <h3 class="customHeading-3 ">
			Footer
		</h3>
    </footer>
</body>

</html>
